<body id="eater-home">
  
<%= render :partial => "partials/nav" %>

 
<div class="container">
  <div class="welcome-jumbo">
    <h2>Welcome back, <%= current_user.username %></h2> 
    <h4> This week <%= current_user.eater.cooker.user.username %> is cooking for you.</h4> 
    <h5>Contact Info</h5>
    <h5 id="contact-info">email: <%=current_user.eater.cooker.user.email %> phone: <%=current_user.eater.cooker.user.phone_number %></h5>
                              
  </div>
</div>

<div id="search-header">
  <h3>Search For Homecooks Near You</h3>
</div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2"></div>

      <div class="col-md-8" id="search-area">
          <%= form_tag("/eater", method: "get") do %>
            <%= label_tag(:price, "Price (Weekly USD):") %>
            <%= select_tag 'price', options_for_select([['under 40'],['40-60'],['over 60']]) %>
            </br>
            <%= label_tag(:diet, "Dietary Restrictions:") %>
            <%= select_tag 'diet', options_for_select([['none'],['vegetarian'],['vegan'],['pescatarian']]) %>
            </br>
            <%= label_tag(:location, "Neighborhood:") %>
            <%= select_tag 'location', options_for_select([['El Poblado'],['Centro'],['Envigado'],['Laurales']]) %>
            </br>
            <%= label_tag(:delivery, "Will Deliver?:") %>
            <%= select_tag 'delivery', options_for_select([['Yes'],['No']]) %>
            </br>
            </br>
            <%= submit_tag("Filter Cookers") %>
          <% end %>
      </div>
    

      <div class="col-md-2"></div>
    </div>
  </div>
       
        <div class="search-results">
          <% @cookers.each do |cook| %>
          <%= render :partial => "partials/cooker", locals: {cooker: cook} %>
          <% end %>
        </div>
  


</body>
