<body id="eater-home">

<%= render :partial => "partials/nav" %>
  
<div class="container" id="eater-welcome">
    <div class="col-md-2"></div>
    <div class="col-md-5">
      <div id="welcome-eater-head">Welcome back, <%= current_user.username %></div></br>
      <p> This week <%= current_user.eater.cooker.user.username %> is cooking for you.</p> 
    </div>
    <div class="col-md-3">
      <img src="<%= current_user.eater.cooker.profile_photo%>" id="cooker-img">
      <div id="cook-name"><%= current_user.eater.cooker.user.username%></div>
    </div>
    <div class="col-md-2"></div>
</div>

<div id="search-box">
  <div id="search-header">
    <h2>Search For Homecooks</h2>
  </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6" id="search-area">
            <%= form_tag("/eater", method: "get") do %>
              <%= label_tag(:price, "Price (Weekly USD):") %>
              <%= select_tag 'price', options_for_select([['under 40'],['40-60'],['over 60']]) %>
              </br>
              <%= label_tag(:diet, "Dietary Restrictions:") %>
              <%= select_tag 'diet', options_for_select([['none'],['vegetarian'],['vegan'],['pescatarian']]) %>
              </br>
              <%= label_tag(:location, "Neighborhood:") %>
              <%= select_tag 'location', options_for_select([['El Poblado'],['Centro'],['Envigado'],['Laurales']]) %>
              </br>
              <%= label_tag(:delivery, "Will Deliver?:") %>
              <%= select_tag 'delivery', options_for_select([['Yes'],['No']]) %>
              </br>
              </br>
              <div class="filter-btn"><%= submit_tag("Filter Cookers") %></div>
            <% end %>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </div>
       
  <div class="search-results">
    <% @cookers.each do |cook| %>
    <%= render :partial => "partials/cooker", locals: {cooker: cook} %>
    <% end %>
  </div>

<script>
$("#cooker-img").click(function() {
  swal("<%=current_user.eater.cooker.user.username %>",
       "email: <%=current_user.eater.cooker.user.email %> </br> phone: <%=current_user.eater.cooker.user.phone_number %>",
      );
});
</script>

<script>
$(".subscribe-button-field").click(function() {
  swal({type:'success',
        input: 'You have successfully subscribed'
       });
});
</script>

</body>
