  <%= render :partial => "partials/nav" %>

  <div class='eater-home-head'>
    <h3 align="center">Current Homecook:</h3>

    <%= render :partial =>"partials/curr_cook" if current_user.eater.cooker != nil %>
  </div>

  <div class="search-container">
    <h2 align="center">Search For Homecooks</h2>
        <div class="search-area">
            <%= form_tag("/eater", method: "get") do %>
              <%= label_tag(:price, "Weekly Price:") %>
              <%= select_tag 'price', options_for_select([["Any"], ['$'],['$$'],['$$$']]) %>

              <%= label_tag(:diet, "Special Diet:") %>
              <%= select_tag 'diet', options_for_select([['None'],['Vegetarian'],['Vegan'],['Pescatarian']]) %>

              <%= label_tag(:location, "Neighborhood:") %>
              <%= select_tag 'location', options_for_select([["All"],['El Poblado'],['Centro'],['Envigado'],['Laurales']]) %>

              <%= label_tag(:delivery, "Delivery Available?:") %>
              <%= select_tag 'delivery', options_for_select([['Yes'],['No']]) %>
              </br>

              <button class='btn-block btn-primary'><%= submit_tag("FIND ME COOKS") %></button>
            <% end %>
        </div>
  </div>

  <div class="search-results">
    <% @cookers.each do |cook| %>
    <div class='search-result'><%= render :partial => "partials/cooker", locals: {cooker: cook} %></div>
    <% end %>
  </div>
