<body id="eater-home">

  <%= render :partial => "partials/nav" %>

  <h2 align="center">Hello, <%= current_user.username %></h2>
  <h3 align="center">Current Homecook:</h3>

  <%= render :partial =>"partials/curr_cook" if current_user.eater.cooker != nil %>

  <div id="search-box">
    <h2 align="center">Search For Homecooks</h2>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6" id="search-area">
            <%= form_tag("/eater", method: "get") do %>
              <%= label_tag(:price, "Weekly Price (Includes 5 meals):") %>
              <%= select_tag 'price', options_for_select([["Any"], ['$'],['$$'],['$$$']]) %>
              </br>
              <%= label_tag(:diet, "Special Diet:") %>
              <%= select_tag 'diet', options_for_select([['None'],['Vegetarian'],['Vegan'],['Pescatarian']]) %>
              </br>
              <%= label_tag(:location, "Neighborhood:") %>
              <%= select_tag 'location', options_for_select([["All"],['El Poblado'],['Centro'],['Envigado'],['Laurales']]) %>
              </br>
              <%= label_tag(:delivery, "Delivery Available?:") %>
              <%= select_tag 'delivery', options_for_select([['Yes'],['No']]) %>
              </br>
              </br>
              <div class="btn"><%= submit_tag("Search") %></div>
            <% end %>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </div>

  <div class="search-results">
    <% @cookers.each do |cook| %>
    <%= render :partial => "partials/cooker", locals: {cooker: cook} %>
    <% end %>
  </div>



</body>
