<div id="cooker-profile">

    <div class"nested-profile-top">
      <div class="cook-photo-id">
        <div class="cook-photo"><img src="<%= cooker.profile_photo %>" class="cooker-img"></div><br/>
        <div class="cook-name"><%= User.find_by_id(cooker.user_id).username%></div>
      </div>
      <div class="cook-stats">
        <div><strong>Price </strong>  <%= cooker.price_per_week %></div>
        <div><strong>Neighborhood: </strong>  <%= cooker.neighborhood %></div>
        <div><strong>Delivery Available? </strong>  <%= cooker.delivery_available == true ? "Yes" : "No" %></div>
        <div><strong>Specialty Diet: </strong>  <%= cooker.dietary_options %></div>
      </div>
    </div>

    <div class="about-cook">
        <%= cooker.food_description %>
    </div>

    <div>
      <%= form_for (current_user.eater), url: eater_path(current_user.eater.id), method: :patch do |f| %>
      <%= f.hidden_field :cooker_id, :value => cooker.id %>
      <%= f.submit "Subscribe", class:'button' %>
      <% end %>
    </div>

</div>

<script>
$(".btn-primary").click(function() {
  swal({title:'Subscribed To New Cook',
  input: ''
  });
});
</script>
