

<div class="wrapper-profile-container self" id="cooker-profile">
<div class="wrapper-cook-profile">
  <div class"nested-profile-top">

    <div class="cook-photo-id">
      <div class="cook-photo"><img src="<%= cooker.profile_photo %>" class="cooker-img"></div><br/>
      <div class="cook-name"><%= User.find_by_id(cooker.user_id).username%></div> 
    </div>

    <div class="cook-stats">
      <br/>Price Per Week (USD) :  <%= cooker.price_per_week %>
      <br/>Neighborhood :  <%= cooker.neighborhood %>
      <br/>Delivery Available? :  <%= cooker.delivery_available %>
      <br/>Specialty Diets :  <%= cooker.dietary_options %>  
    </div>
  </div>
  <div class="about-cook">
      <%= cooker.food_description %>
  </div>
  <div class="subscribe-button-field">
    <%= link_to "edit", edit_cooker_path(current_user.cooker.id), method: :get, class:"btn btn-info subscribe-button" %>
  </div>

</div>
</div>
            
 
          
