<body class="cooker-edit"> 
  <div class="panel panel-default col-md-5 col-md-offset-3">

    <div class="panel-body">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-4">   
            <h2>Edit Cooker Profile</h2>
                
            <%= form_for (current_user.cooker), url: cooker_path(current_user.cooker.id), method: :patch do |f| %>

                <div class="form-group">
                  Food Description <%= f.text_field :food_description, class:"form-control" %>
                </div>
                <div class="form-group">
                  Price (in USD for 5 meals) <%= f.select :price_per_week, options_for_select([['under 40'],['40-60'],['over 60']]) %>
                </div>
                <div class="form-group">
                  Dietary Guides <%= f.select :dietary_options, options_for_select([['none'],['vegetarian'],['pescatarian'],['vegan']]) %>
                </div>
                <div class="form-group">
                  Neighborhood <%= f.select :neighborhood, options_for_select([['El Poblado'], ['Centro'], ['Envigado'], ['Laurales']]) %>
                </div>
                <div class="form-group">
                  Delivery Available? <%= f.select :delivery_available, options_for_select([['Yes'],['No']]) %>
                </div>
                <div class="form-group">
                  Profile Photo: <%= f.text_field :profile_photo, class:"form-control" %>
                </div>

              <div class="actions">
                <%= f.submit "Update" %>
              </div>
            <% end %>

            <%= link_to "Back", :back %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>