<h3>The following information is required to set up your Cooker profile</h3>

<%= form_for Cooker.new do |f| %>

    Food Description <%= f.text_field :food_description %>
    <p></p>
    Price <%= f.select :price_per_week, options_for_select([['on the cheap'],['average'],['ballin']]) %>
    <p></p>
    Neighborhood <%= f.select :neighborhood, options_for_select([['El Poblado'], ['Centro'], ['Envigado'], ['Laurales']]) %>
    <p></p>
    Delivery Available? <%= f.select :delivery_available, options_for_select([['Yes'],['No']]) %>
    <p></p>
 <%= f.submit "Sign up" %>

 <% end %>



#submit will create new cooker in cooker table and redirect to cooker/show

