<body class="cooker-sign-up">

  <h3>Fill in the following form to complete your Cooker profile</h3>

  <div class="container" "sign">
    <div class="row">
      <div class="col-sm-6 col-md-4 col-md-offset-1"> 
          <%= form_for @cooker do |f| %>
              Description (Tell us about you and your food) <%= f.text_field :food_description, :size => 80 %>
              <p></p>
              Price (in USD for 5 meals) <%= f.select :price_per_week, options_for_select([['under 40'],['40-60'],['over 60']]) %>
              <p></p>
              Diet <%= f.select :dietary_options, options_for_select([['none'],['vegetarian'],['pescatarian'],['vegan']]) %>
              <p></p>
              Neighborhood <%= f.select :neighborhood, options_for_select([['El Poblado'], ['Centro'], ['Envigado'], ['Laurales']]) %>
              <p></p>
              Are you willing to deliver? <%= f.select :delivery_available, options_for_select([['Yes'],['No']]) %>
              <p></p>
              Profile Photo: <%= f.text_field :profile_photo, :size => 30 %>
              </br>
          <%= f.submit "Sign up" %>   
          <% end %>
      </div>
    </div>
  </div>
</body>




