<%= render partial: "partials/nav" %>

<div class="cooker-home-container">


  <%= react_component("CookWelcome", props: {patrons: patrons, cook: current_user.username}, prerender: true) %>

  <%= react_component("CookerProfileHome", props: {cooker: @cooker, cook: current_user.username}, prerender: true) %>

  <div class='editme'>
    <%= link_to "Edit Information", edit_cooker_path(current_user.cooker.id), method: :get, class:"button" %>
  </div>

  <div>
    <%= react_component("PatronList", props: {patrons: patrons}, prerender: true) %>
  </div>
</div>
