<body id="cooker-home">
  
<%= render partial: "partials/nav" %>

<div class="container">
  <div class="jumbotron" id="cook=jumbo">
    <h3>Welcome back, <%= current_user.username %></h3> 
    <h4> You have (<%=Eater.all.where(cooker_id: current_user.cooker.id).count %>) current patrons</h4> 
  </div>
</div>
  
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>

  
<%= render partial: "partials/cooker_home", locals: {cooker: current_user.cooker}%>
  <br/>
  <div class="container" id="cooker-page">
    <div class="row">
    <h2> Current Patrons<h2>
      
    <% Eater.all.where(cooker_id: current_user.cooker.id).each do |e|%>
      <%= e %>
    <%end%>
    </br>
    can only access user_id right now
   


    </div>
  </div>
</body>

